.wall {
    position: fixed;
    top: 25%;
    background-color: red;
    height: 25px;
  }

.wall-top {
    width: 90vw;
    right: 0;
    top: 25%;
  }

.wall-bottom {
    width: 90vw;
    right: 0;
    top: 75%;
  }