/* EDGAR */
.wall {
    position: fixed;
    top: 25%;
    background-color: red;
    height: 25px;
  }

.wall--top {
    width: 90vw;
    right: 0;
    top: 25%;
  }

.wall--bottom {
    width: 90vw;
    right: 0;
    top: 75%;
  }

.cat {
    position: fixed;
    top: 50%;
    margin-top: -35px;
    margin-right: 100px;
    animation: chase 6s infinite linear alternate;
    right: 0;
  }

  /* SHNIZANA */

  /* CHRIS */
  * {
    cursor: url('images/mouse-alive.png')16 16, auto;
  }