$backgroundColor: rgba(235, 232, 226);
$doorColor: rgb(0, 0, 0);
$pipeColor: rgb(168, 168, 168);
$blackColor: black;
$mazeWallsColor: rgb(103, 103, 103);
$winColor: darkslategray;
$lostColor: rgb(186, 33, 33);
$whiteColor: white;
$btnColor: rgb(171, 167, 167);

body {
  background-color: $backgroundColor;
}

.door {
  background-color: $doorColor;
}

.pipe {
  background-color: $pipeColor;
}

.pipehole {
  background-color: $blackColor;
  border: $mazeWallsColor;
}

.you--lost,
.you--win {
  color: $whiteColor;
}

.you--lost {
  background: linear-gradient($lostColor, $blackColor);
}

.you--win {
  background: linear-gradient($winColor, $blackColor);
}

.btn--refresh {
  color: $mazeWallsColor;
}

.btn--refresh:hover {
  box-shadow: $btnColor, $blackColor;
}

.wall {
  background-color: $mazeWallsColor;
}

