.mousetrap {
  position: fixed;
  right: 0;
}
.mousetrap img {
  width: 70px;
  height: 50px;
}

.mousetrap--first {
  transform: translateY(30vh) translateX(-65vw);
}
.mousetrap--second {
  transform: translateY(63vh) translateX(-67vw);
}
.mousetrap--third {
  transform: translateY(45vh) translateX(-50vw);
}
.mousetrap--fourth {
  transform: translateY(65vh) translateX(-40vw);
}
.mousetrap--fifth {
  transform: translateY(30vh) translateX(-30vw);
}

.pipe {
  position: fixed;
  width: 90vw;
  height: 46vh;
  right: 0;
  top: 29vh;
}

.pipehole {
  position: fixed;
  width: 20vw;
  height: 35vw;
  top: 12vh;
  z-index: 2;
}

.pipehole:hover ~ .pipe {
  z-index: -100;
}

.pipe:hover {
  z-index: -100;
}

.goal {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 40vh;
}

.goal img {
  height: 150px;
  width: 150px;
}

.you--lost,
.you--win {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.you--win:hover,
.cat:hover ~ .you--win,
.you--win:hover,
.wall:hover ~ .you--win,
.goal:hover ~ .you--win {
  top: 0;
}

.you--lost:hover,
.cat:hover ~ .you--lost,
.you--lost:hover,
.wall:hover ~ .you--lost,
.you--lost:hover,
.door:hover ~ .you--lost,
.mousetrap--first:hover ~ .you--lost,
.mousetrap--second:hover ~ .you--lost,
.mousetrap--third:hover ~ .you--lost,
.mousetrap--fourth:hover ~ .you--lost,
.mousetrap--fifth:hover ~ .you--lost {
  top: 0;
}

.btn--refresh {
  position: absolute;
  left: 0;
  top: 0;
  margin: 2%;
  padding: 0.6rem 0.8rem;
}

.wall {
  position: fixed;
  top: 25%;
  height: 4%;
}

.wall--top {
  width: 90vw;
  right: 0;
  top: 25%;
}

.wall--bottom {
  width: 90vw;
  right: 0;
  top: 75%;
}

.cat {
  position: fixed;
  top: 50%;
  margin-top: -35px; /* half of the cat's height */
  margin-right: 100px;
  right: 0;
}

.cat img {
  height: 70px;
  width: 150px;
  margin-left: 100px;
}
