@import "_colors.scss";
@import "_font.scss";
@import "_layout.scss";

* {
  cursor: url("../img/mouse-alive.png") 90 33, auto;
}

.door {
  animation: open 1.2s both 1.5s;
}

@keyframes open {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}

.pipe:hover {
  opacity: 70%;
}

.pipehole {
  opacity: 0.7;
  border-radius: 50%;
  border: solid 4vw;
}

.pipehole:hover ~ .pipe {
  opacity: 70%;
}
