@import "_colors.scss";
@import "_font.scss";
@import "_layout.scss";

* {
  cursor: url("../img/mouse-alive.png") 90 33, auto;
}

body {
  overflow: hidden;
}

.door {
  animation: open 1.2s both 1.5s;
}

@keyframes open {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}

.pipe:hover {
  opacity: 70%;
}

.pipehole {
  opacity: 0.7;
  border-radius: 50%;
  border: solid 4vw;
}

.pipehole:hover ~ .pipe {
  opacity: 70%;
}

.you--lost:hover,
.cat:hover ~ .you--lost,
.you-lost:hover,
.wall:hover ~ .you--lost,
.you--lost:hover,
.door:hover ~ .you--lost,
.mousetrap--first:hover ~ .you--lost,
.mousetrap--second:hover ~ .you--lost,
.mousetrap--third:hover ~ .you--lost,
.mousetrap--fourth:hover ~ .you--lost,
.mousetrap--fifth:hover ~ .you--lost {
  animation-play-state: paused;
  cursor: url("../img/mouse-dead.png") 90 33, auto;
}

.you--win:hover,
.cat:hover ~ .you--win,
.you--win:hover,
.wall:hover ~ .you--win,
.goal:hover ~ .you--win {
  animation-play-state: paused;
  cursor: url("../img/mouse-alive.png") 90 33, auto;
}

.you--lost,
.you--win {
  animation-play-state: running;
}

.btn--refresh {
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.btn--refresh:hover {
  box-shadow: 1px 2px 6px, -2px 4px 6px;
  transform: scale(1.1);
}

.cat {
  animation: chase 6s infinite linear alternate;
}

.cat:nth-of-type(1) {
  animation-duration: 10s;
  animation-delay: 1s;
}

.cat:nth-of-type(2) {
  animation-duration: 8s;
}

.cat:nth-of-type(3) {
  animation-duration: 8s;
  animation-delay: 2s;
}

.cat:nth-of-type(4) {
  animation-duration: 19s;
}

.cat:nth-of-type(5) {
  animation-duration: 8s;
  animation-delay: 5s;
}

.cat:nth-of-type(6) {
  animation-duration: 2s;
  animation-delay: 3.5s;
}

@keyframes chase {
  0% {
    transform: translate(0, 0) scaleX(1);
  }
  25% {
    transform: translate(-200px, 20vh) scaleX(-1);
  }
  50% {
    transform: translate(-400px, -10vh) scaleX(1);
  }
  75% {
    transform: translate(-800px, 18vh) scaleX(-1);
  }
  100% {
    transform: translate(-1000px, -10vh) scaleX(1);
  }
}