@import "_colors.scss";
@import "_font.scss";
@import "_layout.scss";



.door {
    animation: open 1.2s both 1.5s;
  }

@keyframes open {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      pointer-events: none;
    }
  }

  